<div id="edit">
<div class="container">
    <form action="/camp/<%=camp.id%>/update" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <input type="hidden" name="id" value="<%= camp.id %>">

        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="80" value="<%= camp.name %>" name="name">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Preis</label>
                <input type="text" class="form-control" maxlength="8" value="<%= camp.price %>" name="price">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Beschreibung</label>
                <input type="text" maxlength="255" class="form-control" size="40" value="<%= camp.description %>" name="description">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Aktualisieren</button>
    </form>
</div>
</div>