<div id="show">
    <div class="upper_body">
    <a class="btn" href="/camp" style="width: auto;font-size: xx-small;font-weight: 900;"><< zurück zu Camps</a>
    </div>
    
    <div class="allcenter" >
            <div class="allcenter">
                <h1 style="text-align: left">Camp <%= camp.name %></h1>
                    <div class="card__containers">
                        <div class="cards">  
                            <img src="/images/mainauhd.jpg" alt="Camp01" class="card__images">
                            <div class="grid-containers">
                                <hr/>
                                <div class="grid-child-posts">
                                    Ort: <%= camp.ort %> Konstanz
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    Preis: <%= camp.price %>€-Nacht
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                    Beschreibung: <%= camp.description %>
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                    Freie Plätze: <%= camp.spots %> 5 freie Plätze
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                    Bewertung: <%= camp.assesment %> ★★★★✰
                                </div>
                               
                            </div>
                        </div>
                        <div class="cards">  
                            <div class="grid-containers">
                                <hr/>
                                <div class="grid-child-posts">
                                    <h5 style="text-decoration: underline 0.1rem;">Ausstattungen</h5>
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    WC, Internet, Dusche, Hunde
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    <h5 style="text-decoration: underline 0.1rem;">Aktivitäten</h5>
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                   Schwimmen, Strand, Wandern, Volleyball,
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    <h5 style="text-decoration: underline 0.1rem;">Landmarks</h5>
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    Festung, Kirche, Zoo, Museum
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    <h5 style="text-decoration: underline 0.1rem;">Anbindung</h5>
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    Zug, Bus, Schiff
                                </div>
                            </div>
                        </div>
                        <div class="cards">  
                    
                                <h5 style="text-decoration: underline 0.1rem;">Kontaktinformationen</h5>
                     
                            <div class="grid-containers">
                                <hr/>
                                <div class="grid-child-posts">
                                    Straße: <%= camp.vermieterId %> 
                                </div>
                                <hr/>
                                <div class="grid-child-posts">
                                    Ort: <%= camp.price %>
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                    Telefon: <%= camp.description %>
                                </div>
                                <hr/>
                                <div class="grid-child-followers">
                                    Mail: <!--  basket[2][0].owner -->
                                </div>

                               
                            </div>
                        </div>
                </div>
            </div>
            <div class="cancelbutton">
                <a class="btn btn-primary" href="/camp/<%=camp.id%>/booking">Buchen</a>
            <a class="btn btn-primary" href="/camp/<%=camp.id%>/edit">Bearbeiten</a>
            <a class="btn btn-primary" href="/camp/<%=camp.id%>/destroy">Löschen</a>
            </div>
    </div>
</div>