<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm booking</title>
</head>

<script>
    module.exports = {
        el: '#app',
        data: function() {
            return {
                message: 'Hello Vue!'
            }
        }
    }
</script>




<h1 style="text-align: center; margin-top: 3%;">Bestellübersicht</h1>
<div id="app">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/<%=  %>" alt="ProductsBild" style="border-radius: 10%;border: 2px solid #178ca4;" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">
                        <%= von %> - <%= bis %>
                    </div>
                    <h1 class="display-5 fw-bolder">
                        <%= camps.name %>
                    </h1>
                    <div class="fs-5 mb-5">
                        <span> <%= camps.price %>€</span>
                    </div>

                    <form action="/booking/payment" method="GET">
                        <button mt-3 class="btn btn-primary mb-4 btn-outline-info" type="submit">Weiter</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="row ml-auto mr-auto" style="width: 65%; text-align: center;">
    <div class="col-lg-2 m-2" style="border: 2px solid #178ca4; border-radius: 10px;">
        <div class="card-body">
            <h4 class="card-title">
                gewünschte Lieferzeit
            </h4>
            <p class="card-text" id="bis">
                <%=  %>
            </p>
        </div>
    </div>
    <div class="col-lg-2 m-2" style="border: 2px solid #178ca4; border-radius: 10px;">
        <div class="card-body">
            <h4 class="card-title">
                Preis
            </h4>
            <p class="card-text" id="preis">
                <%=  %>
            </p>
        </div>
    </div>
    <div class="col-lg-2 m-2" style="border: 2px solid #178ca4; border-radius: 10px;">
        <div class="card-body">
            <h4 class="card-title">
                Status
            </h4>
            <p class="card-text">
                <%=  %>
            </p>
        </div>
    </div>
</div>

