<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm booking</title>
</head>
    <!--NOT ORIGINAL-->
<div id="camp">
    <div class="container allcenter">
            <h1>Bestellübersicht</h1>
            
        <div class="item-content" style="text-align: -webkit-center;"><!-- -webkit-center -->
            <img src="/images/mainauhd.jpg" alt="Camp01" class="card__images" style=" height: 250px;width: 250px;  border: 5px solid #5f5f64;   margin-top: 20px; box-shadow: 0 1px 15px #ccbf90;">
            <hr/>
            <h4><%= camps.name %>, vom <%= von %> bis <%= bis %></h4>
            <section class="container">     
                        <div id="hierspotsarbnor">
                        <h4><%= camps.price %>€ pro Tag</h4>
                        </div>
                    <hr/>
                    <div class="col-lg-2 m-2" style="border: 2px solid #178ca4; border-radius: 10px;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Totaler Preis
                            </h4>
                            <p class="card-text" id="preis">
                                <%= diffDays * camps.price  %> €
                            </p>
                        </div>
                    </div>
                        <!--ERROR-->
                        <div id="err-msg"></div> 
                        <!--BUTTONS-->
                        <form action="/booking/payment" method="GET">
                        <button mt-3 class="btn btn-primary mb-4 btn-outline-info" type="submit">Weiter</button>
                    </form>
                    </form>
            </section>
        </div>
    </div>
</div>

