
    <div class="container allcenter">
        <h1>Bestellübersicht</h1>
        <div class="item-content" style="text-align: -webkit-center;"><!-- -webkit-center -->
            <img src="/images/mainauhd.jpg" alt="Camp01" class="card__images" style=" height: 250px;width: 250px;  border: 5px solid #5f5f64;   margin-top: 20px; box-shadow: 0 1px 15px #ccbf90;">
            <hr/>
            <section class="container">     
                <h1 class="display-5 fw-bolder">
                    Sie haben das Camp <strong><%= camps.name%></strong> vom <strong><%= von%></strong> bis zum <strong><%= bis%></strong> für <strong><%= tage%></strong> Tage
                    gebucht und zwar zum Preis <strong><%= total %></strong>€, je <strong></strong><%= camps.price%>€/Tag.
                    <br>
                    Die Bankdaten, die Sie bei uns hinterlegt haben:
                    
                    <strong><%= bank.iban%></strong>
                    <strong><%= bank.kontonr%></strong>
                    <strong><%= bank.blz%></strong>
                    <strong><%= bank.bic%></strong>
                </h1>
                        <!--ERROR-->
                        <div id="err-msg"></div> 
                        <!--BUTTONS-->
                        <form action="/dashboard/welcome" method="GET">
                            <button mt-3 class="btn btn-primary mb-4 btn-outline-info" type="submit">Home</button>
                        </form>
                    </form>
            </section>
        </div>
    </div>

