<div id="camp">
    <div class="upper_body">
        <a class="btn" href="/account" style="width: auto;font-size: xx-small;font-weight: 900;"><< zurück zur Accountübersicht</a>
        </div>
    <div class="container allcenter">
        <h1>My Reservations</h1>
        <div class="item-content">
            <table class="table">
                <thead>
                    <th>Datum</th>
                    <th>Preis</th>
                    <th>Camp-id</th>
                    <th>book-id</th>
                </thead>
                <tbody>
                     <% bookings.forEach(function(booking){ %> 
                        <tr>
                            <td>
                                <%= booking.von %> - <%= booking.bis %> 
                            </td>
                            <td>
                                <%= booking.total %> 
                            </td>
                            <td>
                                <%= booking.camp %> 
                            </td>
                            <td><%= booking.id %></td>
                            <td> 
                            <a class="badge badge-primary" href="/reservations/<%= booking.id %>/delete">Stornieren</a>
                            
                        </td>
                        </tr>
                         <% }); %> 
                </tbody>
            </table>
        </div>
    </div>
</div>
